
@font-face {
    font-family: monospace;
    src : url(ass/Gotham-Black.otf)
  }
  
  body {
    font-family: gotham;
    margin: 0;
    background-color: rgb(0, 0, 0);
    color: white;
    margin-bottom: 30px;
  }

  .date{
    font-size: 30px;
  }

  .sub{
    font-size: 20px;
  }
  
  img {
    height: 360px;
    margin: 40px;
    
  }
  
  a{
      color: rgb(255, 255, 255);
      text-decoration: none;
  }
  
  hr{
      width: 80%;
      background-color: black;
      height: 3px;
      border: none;
  }
  
  a:hover{
      text-decoration: underline;
  }
  
  h1{
      font-size: 40px;
      margin-bottom: 35px;
      margin-top: 0px;
      font-weight: 1000;
  }
  .t{
    margin-top: 35px;
  }
  @media (max-width:550px){
    img{
      height: 300px;
    }
    h1{
      font-size: 35px;
      margin-bottom: 30px;
    }
  }
  
  @media (max-width:400px){
    img{
      height: 240px;
    }
    h1{
      font-size: 32px;
      margin-bottom: 27px;
    }
  }
  
 